<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNTCJl-QV1yfEdziPlRuT3-ksBnx2g6kE</string>
	<key>GCM_SENDER_ID</key>
	<string>140576979867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chingizagha.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-e8ce3</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e8ce3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140576979867:ios:292ab94e8a7612a0147f3e</string>
</dict>
</plist>